@import url('gold.css');

@font-face {
    font-family: 'slkscr';
    font-weight: normal;
    font-display: fallback;
    /* on really bad connection, give up the font */
    src: url('/static/fonts/slkscr.ttf');
}

@font-face {
    font-family: 'firacode';
    font-weight: normal;
    src: url('/static/fonts/FiraCode.ttf');
}

@font-face {
    font-family: 'lusitana';
    font-weight: normal;
    src: url('/static/fonts/Lusitana.ttf');
}

:root {
	--black: #000;
	--shadow: #ffffff80;
	--orange: #d6be9e;
	--yellow: #51a1d2;
	--m: 1.1rem;
}

body {
    background: var(--black);
    font-family: 'firacode', system-ui;
    font-family: 'slkscr', system-ui;
    /* cursor: url("/static/img/smol.png"), auto; */
    cursor: none;
	overflow: hidden;
}

main {
	color: var(--yellow);
    text-align: center;
	word-break: break-all;
	user-select: none;
}

h1 {
	text-shadow: -2px 2px var(--shadow);
}

span {
	color: var(--orange);
}

.cursor_ai {
	position: fixed;
	color: white;
	/* transform: translate(-50%, -50%); */
	/* not needed */
}

#fps {
	position: fixed;
	right: 2ch;
	top: 2ch;
}

#server {
	position: fixed;
	left: 2ch;
	bottom: 1ch;
}

@view-transition {
    navigation: auto;
}