@import url('gold.css');

@font-face {
    font-family: 'slkscr';
    font-weight: normal;
    font-display: fallback;
    /* on really bad connection, give up the font */
    src: url('/static/fonts/slkscr.ttf');
}

@font-face {
    font-family: 'slkscrb';
    font-weight: bold;
    font-display: swap;
    /* swap also exists */
    src: url('/static/fonts/slkscrb.ttf');
}

@font-face {
    font-family: 'firacode';
    font-weight: normal;
    src: url('/static/fonts/FiraCode.ttf');
}

@font-face {
    font-family: 'lusitana';
    font-weight: normal;
    src: url('/static/fonts/Lusitana.ttf');
}

:root {
	--black: #1c1c1c;
	--shadow: #ffffff80;
	--orange: #f3a235;
	--yellow: #f2ca29;
    scrollbar-color: var(--yellow) var(--black);
	scrollbar-width: thin;
	&:has(body[light]) {
		--black: #e3e3e3;
    	--shadow: #00000080;
		--orange: #0c5dca;
		--yellow: #0d35d6;
	}
}

body {
    background: var(--black);
    font-family: 'firacode', system-ui;
    font-family: 'slkscr', system-ui;
    cursor: url("/static/img/smol.png"), auto;
}

main {
	color: var(--yellow);
    text-align: center;
}

.cursor_ai {
	position: fixed;
	transform: translate(-50%, -50%);
}
